@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    display: flex;
    width: 520px;
}

.heading-title {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    justify-content: center;
    margin-left: 25px;
}

.heading img {
    height: 80px;
    width: 80px;
    border-radius: 20px;
    border: 5px solid #fff;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(306deg, #ffe173, #ffb260, #ff7b69, #ff9d9d, #e0ff9d);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
    }

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 55%}
        50%{background-position:100% 46%}
        100%{background-position:0% 55%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 55%}
        50%{background-position:100% 46%}
        100%{background-position:0% 55%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 55%}
        50%{background-position:100% 46%}
        100%{background-position:0% 55%}
}

.heading-title h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    color: #656B79;
}

.heading-title h1 {
    margin: 0;
    font-size: 35px;
}

.about-me {
    line-height: 30px;
    width: 520px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.about-me p {
    color: #455464;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
}

.about-me span {
    font-weight: 500;
    color: #455464;
}
